/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my css code below. reset above.*/

body {
    border: 5px solid black;
    display: grid;
    justify-content: center;
    grid-template-columns: 75px 75px 100px 100px 75px 75px;
    grid-template-rows: 50px auto 100px;
    grid-template-areas: 
        "header header header header header header"
        "middle middle middle middle middle middle"
        "footer footer footer footer footer footer";
    background-color: #964;
}

header {
    border: 5px solid green;
    background-color: #44aa44;
    grid-area: header;
}
    header div {
        display: flex;
        justify-content: center;
    }
        header div h1 {
            font-size: 24px;
            font-weight: bold;
        }

section {
    border: 5px solid red;
    background-color: #44aa44;;
    grid-area: middle;
}

    article {
        border: 5px solid violet;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    article div span h2{
        font-size: 18px;
        font-weight: bold;
    }
    .rps {
        display: flex;
        flex-direction: column;
    }
    input {
        width: 40px;
        height: 24px;
        background-color: grey;
    }
    ul {
        display: flex;
        flex-direction: row;
    }
    ul li {
        font-size: 18px;
        font-weight: 600;
        color: maroon;
        
    }
    div {
        display: flex;
        justify-content: center;
    }
    div span {
        font-size:18px;
        padding: 25px;
        background-color: #22cc22;
    }
    div ul {
        background-color: #44aa44;;
    }

aside{
    border: 5px solid orange;
    grid-area: right;
}

footer{
    border: 5px solid brown;
    grid-area: footer;
}